export(AC2AP)
export(AP2AC)
export(PC2AC)
export(PC2AP)
export(Tab2Standard)
export(assignArea)
export(assignNoteCode)
export(b_agg)
export(d_agg)
export(d_long)
export(d_s1x1)
export(d_sNx1)
export(d_sNx1_inner)
export(d_sNx1_spline)
export(d_soainew)
export(d_svv)
export(d_unk)
export(d_unk_sex)
export(isLeapYear)
export(p_ecm)
export(p_ecm_inner)
export(p_ey2ny)
export(p_ic)
export(p_ic_inner)
export(p_long)
export(p_movedata)
export(p_movedata_inner)
export(p_postcensal)
export(p_precensal)
export(p_rescale)
export(p_soai)
export(p_soai_inner_matlab)
export(p_split)
export(p_split_inner)
export(p_sra)
export(p_srecm)
export(p_unk)
export(readInputDB)
export(resortDeaths)
export(resortPops)
export(yint)
export(ypart)
importFrom(compiler,cmpfun)
importFrom(data.table,data.table)
importFrom(data.table,setnames)
importFrom(reshape2,acast)
importFrom(reshape2,melt)
